/*!
 * Start Bootstrap - Thumbnail Gallery (https://startbootstrap.com/template-ove$
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumb$
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

