/*!
 * Start Bootstrap - Thumbnail Gallery (https://startbootstrap.com/template-overviews/thumbnail-gallery)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery/blob/master/LICENSE)
 */

html {
    min-height: 100%;
    position: relative;
    color: #868686;
}

/* Search page */

#split {
    background-color: #ff3b3f;
    height: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 11px;
}

.nopost {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    color: #626262;
}

.comment {
    margin-top: 10px;
    background-color: #f5fdff;
}

#comments {
    margin-top: 100px;
    margin-left: 15px;
}


#doot {
    color: #717171;
}

#doot:hover {
    color: #ff3b3f;
    transition: all 0.5s ease 0s;
}

#doot2 {
    color: #ff3b3f;
}


/* post userinfo */
.pedit {
    float: right;
}

.puser {
    font-size:25px;
    margin-left: 20px;
    margin-top: 20px;
}

#profid {
    max-width: 600px;
}

#pdesc {
    margin-left: 20px;
}

#ptitle {
    margin-top: 5px;
}

#nav-img {
    margin-left: 8px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#com-img {
    margin-left: 8px;
    margin-top: 8px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* Nappien määritys */
#nappi1 {
    float: right;
    color: #FFF;
    background-color: #ff3b3f;
    width: auto;
    box-shadow: 0px 3px #404040;
    margin: 10px;
    margin-left: 0;
    font-size: 13px;
    
}

#nappi {
    float: right;
    color: #FFF;
    background-color: #ff3b3f;
    width: auto;
    box-shadow: 0px 3px #404040;
    margin: 10px;
    margin-left: 0;
}

#nappi1:hover {
    box-shadow: 0px 0px #404040;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s
}

#nappi:hover {
    box-shadow: 0px 0px #404040;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s
}

/* upload-sivu */

#uploadhead{
    margin-top: 20px;
}

/* postisivu */
#picbg {
    background-color: #404040;
    width: 100%;
}

#img-big {
    display: block;
    margin: auto;
}

.nav-link {
    color: #ff3b3f;
}

li:selected {
    box-shadow: 0px 3px #404040;
}

#sort {
    color: #ff3b3f;   
}


#piclist2 {
    background-color: #ffff;
}

#kuvat {
    display: block;
    margin: auto;
}

body {
    padding-top: 54px;
    background-image: url(/img/grid_noise.png);
    font-family: 'Comfortaa', cursive;
    
}


.bg1 {
    background-color: #FFFF;
}

.formnarrow {
    width: 60%;
}

/* profile background */
.nib {
    background-color: rgba(212, 212, 212, 0.54);
}

.profiiltext {
    color: #717171;
}

#profname {
    margin-left: 20%;
}

/*profiilisivun viiva*/
#line {
    background-color: #717171;
    height: 2px;
    width: 100%;
    text-indent: -10px;
}

.post-bg {
    background-color: #575757;
}

.comment {
    background-color: #FFFFFF;
}


.img-circle {
    max-width: 100%;
}

/*.igm {
    height: 150px;
    margin: auto;
    display: block;
}*/

.img-responsive {
    margin: auto;
    overflow: hidden;
}

/* profile */
.profile-edit {
    float: right;
    color: #717171;
}

.profile-edit:hover {
    color: #ff3b3f;
    transition: all 0.3s ease 0s;
}

.profilepic {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.profilepicsmall {
    margin-top: 10px;
    margin-left: 15px;
    width: 75px;
    height: 75px;
}

.descrootie {
    height: 100px;
}

.doot {
    width: 400px;
    height: 200px;
}

/* tyhjä alue sivun alalaitaan että footer ei piilota alareunaa*/
#buffer {
    height: 50px;
    margin-top: 50px;
}

/* Picture overlay & hower effect */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-top: 10px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  overflow-y: hidden;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover {
    background: #ff3b3f;
    max-height: -moz-min-content;
    max-height: -webkit-min-content;
    max-height: min-content;
    
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.text1 {
    visibility: hidden;
}

.hovereffect .text1 {
  
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect .text1:after {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover .text1:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect .text2, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover .text1 {
    visibility: visible;
}

.hovereffect:hover .text2, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.side-crop {
    overflow: hidden;
    height: 150px;
    width: 280px;
    
}
.side-crop2 {
    overflow: hidden;
    height: 150px;
    width: 150px;
    
}

.image {
    object-fit: cover;
    height: 100%
}

.mauto {
    margin: auto;
}

/* Footer */
.flink {
    color: #ffffff;
    margin-left: 47%;
}

.flink:hover {
    color: #bfbfbf;
    transition: all 0.5s ease 0s;
}

.flink:visited {
    color: #ffffff;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    
    position: absolute;
    color: #ffff;
    background-color: #ff3b3f;
    
}

/* Post score */
#score {
    margin-left: 10px;
    margin-top: 10px;
}

#postarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.timestamp {
    color: #838383;
}

/* Raportti juttuja */
.rapsa-article {
    margin: 0 0 30px 0;
}

.rapsa p{
    margin: 5px 0;
}


.rapsa-img {
    max-width: 100%;
}

code {
    color: #ff3b3f;
}

.space {
    margin-top: 30px;
    margin-bottom: 20px;
}
/* post like */
.icon {
    width: 20px;
    height: 20px;
    
}

.number {
    margin-top: 6px;
}

.logo {
    width: 70px;
    position: absolute;
    top: 5px;
}

.logosmall {
    width: 50px;
    position: absolute;
    top: 5px;
    display: none;
}

#bufferwide {
    width: 70px;
}

.navbar-toggler {
    background-color: #e3e3e3;
}

.navbar {
    box-shadow: 2px 2px #ff3b3f;
    background-color: #FFF;
}
/* etusivun alasivulinkit */
#paginate {
    
}

#paginate li {
    text-align: center;
    margin: 2px;
    margin-top: 10px;
    background-color: #FFF;
    width: 20px;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
}

#paginate a {
    color: #898989;
}

#paginate span {
    color: #e24b4b;
}

#paginate a:hover {
    text-decoration: none;
    color: #e24b4b;
}

/* linkit posteihin puhelimia varten */
#mobilelinks {
    display: none; 
}

#teamlogo {
    width: 300px;
    margin-top: 50px;
}

/* määritykset mobiilille */
@media only screen and (max-width: 760px) {
    .logo {
        visibility: hidden;
    }
    
    .picscontainer {
        margin: 0 auto;
        
    }
    
    #mobilelinks {
        display: block;
        margin-top: 0;
        margin-left: 15px;
    }
    
    .logosmall {
        display: block;
    }
    
    .buffertop {
        padding-top: 20px;
    }
}